dask
dask-geopandas
Fiona
folium
folderstats
geopandas
GeoAlchemy2
geopy
ipython-genutils
jupyter-core
kaleido
openpyxl
matplotlib
pandas
plotly
python-dotenv
pytest
pyfakefs
requests-mock
seaborn
scikit-learn
scipy
shapely
SQLAlchemy
streamlit
tqdm